@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @User</h1>
    <p>Sistema de Administración de Equipos <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
